body {
  background-color: yellow;
}
h1 {
  color: blue;
  font-size: 80px;
}
h3 {
    color: blue;
}
h4 {
    color: blue;
}
p {
  color: red;
}
li {
    color: green;
}
h2 {
    color: blue;
}
ul {
    color: green;
}